### Rust
/target/
**/*.rs.bk

### Python
**/__pycache__/
**/*.py[cod]
**/*.pyo
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/.venv/
**/venv/

### Go
**/*.exe
**/*.test
**/*.out
**/bin/

### Java / Maven
**/target/
**/*.class

### IDE
.idea/
.vscode/

### OS
.DS_Store
